{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "airbnb",
    "rules": {
        "func-names": ["error", "never"],
        "indent": [2, 4],
        "linebreak-style": ["error", "windows"]
    },
    "globals": {
        "google": false,
    }
}