nav.navigation__full
    .navigation__inner
        a(href="portfolio").navigation__link="Мои работы"
        a(href="about").navigation__link="Обо мне"
        a(href="blog").navigation__link="Блог"
        a(href="index").navigation__link="Авторизация"

