.blog {
  width: (1400/1800)*100%;
  padding-top: 70px;
  position: relative;
  @extend .clearfix;
  padding-left: (126/1800)*100%;
  box-sizing: border-box;
  @include phone {
    width: 100%;
    min-width: 320px;
    padding: 0;
  }
  @include tablet {
    width: 100%;
    min-width: 768px;
    padding: 0;
  }
  @include desktop {
    width: (1110/1200)*100%;
    padding-left: (44/1200)*100%;
  }
}

.blog__label {
  display: none;
  @include phone {
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    position: relative;
    transform: translateY(-50%);
    margin-left: -10px;
  }
  @include tablet {
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    position: relative;
    transform: translateY(-50%);
    margin-left: -10px;
  }
}

.label__mouse {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  margin-left: 4px;
}

.label__svg {
  fill: #00bfa5;
}

.blog__menu {
  position: relative;
  margin-right: (100/1800)*100%;
  display: inline-block;
  transition: 0.5s all ease-out;
  @extend .clearfix;
  @include phone {
    left: -246px;
    position: absolute;
    height: 100%;
    z-index: 1;
    background-color: rgba(white, 1);
    -webkit-box-shadow: 5px 0px 29px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 0px 29px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 0px 29px -5px rgba(0, 0, 0, 0.75);
  }
  @include tablet {
    left: -246px;
    position: absolute;
    height: 100%;
    z-index: 1;
    background-color: rgba(white, 1);
    -webkit-box-shadow: 5px 0px 29px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 0px 29px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 0px 29px -5px rgba(0, 0, 0, 0.75);
  }
  @include desktop {
    margin-right: 0;
  }
}

.blog__menu__mobile {
  @include phone {
    left: 0;
  }
  @include tablet {
    left: 0;
  }
}

.blog__menu__fixed {
  position: fixed;
  top: 0;
  padding-top: 50px;
  @include phone {
    padding-top: 0;
  }
}

.blog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 246px;
  text-align: right;
  float: right;
  @include phone {
    padding-top: 0;
  }
}

.blog__list__item {
  padding-right: 18px;
  margin-bottom: 30px;
  transition: all .5s linear;
  border-right: 2px solid transparent;
}

.blog__list__link {
  color: #455a64;
  @include roboto(regular);
  font-size: 1rem;
  text-decoration: none;
}

.blog__list--active {
  border-right: 2px solid #00bfa5;

  & .blog__list__link {
    color: #00bfa5;
    font-weight: 700;
  }
}

.articles {
  float: right;
  width: 70%;
  @include phone {
    float: inherit;
    width: 95%;
    margin: 0 auto;
  }
  @include tablet {
    float: inherit;
    width: 95%;
    margin: 0 auto;
  }
}

.articles__item {
  padding-bottom: 20px;
  margin-bottom: 63px;
  border-bottom: 5px solid rgba(#373e42, .07);
  &:last-child {
    padding: 0;
    border-bottom: 0;
  }
  @include phone {
    margin-bottom: 27px;
  }
  @include tablet {
    margin-bottom: 43px;
  }
}

.articles__title {
  display: block;
  &:after, &:before {
    display: none;
  }
  margin-bottom: 28px;
  @include phone {
    margin-bottom: 19px;
    line-height: 1.5rem;
  }
  @include tablet {
    margin-bottom: 17px;
  }

}

.articles__time {
  opacity: 0.7;
  color: #00bfa5;
  @include roboto(regular);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  @include phone {
    margin-bottom: 17px;
    font-size: 14px;
  }
  @include tablet {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.articles__content {
  p {
    color: #455a64;
    @include roboto(regular);
    font-size: 1rem;
    margin: 0;
    margin-bottom: 15px;
    @include phone {
      font-size: 14px;
    }
    @include tablet {
      font-size: 14px;
    }
  }
}