//Flipper index page
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  position: relative;
  width: 380px;
  min-height: 395px;
  transform: translate(-50%, -50%); //TODO: замыливание
  top: 50%;
  left: 50%;
  @include phone {
    width: (300/320)*100%;
  }
}

/* flip the pane when hovered */
.flip-container.flip-container__active .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);

}

.flip-container, .front, .back {
  width: 380px;
  min-height: 395px;
  @include phone {
    width: 100%;
    margin: 0 auto;
  }
  @include tablet {
    width: (348/768)*100%;
  }
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  width: 100%;
}