.page-contact
    .contact__list
        p.contact__list__title КОНТАКТЫ
        ul.contact__list__detail
            li.contact__list__detail__item
                i.contact__list__detail__item__img.contact__list__detail__item_skype(class='fa fa-skype' aria-hidden='true')
                | d10sh3s
            li.contact__list__detail__item
                i.contact__list__detail__item__img.contact__list__detail__item_mail(class='fa fa-envelope' aria-hidden='true')
                | andrey.shemiakov@gmail.com
            li.contact__list__detail__item
                i.contact__list__detail__item__img.contact__list__detail__item_phone(class='fa fa-phone' aria-hidden='true')
                | +7 910 817 16 13
            li.contact__list__detail__item
                i.contact__list__detail__item__img.contact__list__detail__item_map(class='fa fa-map-marker' aria-hidden='true')
                | г. Ярославль


