.menu
    .menu__link
        .band
        .band
        .band
    ul.menu__list
        li.menu__list__item
            a(href="portfolio.html" class='menu__list__link') Мои работы
        li.menu__list__item
            a(href="about.html" class='menu__list__link') Обо мне
        li.menu__list__item
            a(href="blog.html" class='menu__list__link') Блог
        li.menu__list__item
            a(href="index.html" class='menu__list__link') Авторизация