nav.navigation__full
    .navigation__inner
        a(href="portfolio.html").navigation__link="Мои работы"
        a(href="about.html").navigation__link="Обо мне"
        a(href="blog.html").navigation__link="Блог"
        a(href="index.html").navigation__link="Авторизация"

