.user
    .user__photo
        img(src="assets/img/content/avatar.jpg" alt="Шемяков Андрей Веб разработчик").user__image
    p.user__name="Шемяков Андрей"
    p.user__description="Личный сайт веб разработчика"
    include social
    ul.pages
        li.pages__item
            a(href="/portfolio.html").pages__link="Мои работы"
        li.pages__item
            a(href="/about.html").pages__link="Обо мне"
        li.pages__item
            a(href="/blog.html").pages__link="Блог"