footer.page-footer
    .footer__nav_wrapper.clearfix
        ul.footer__nav
            li.footer__nav__item
                a(href="work.html" class='footer__nav__link') Мои работы
            li.footer__nav__item
                a(href="about_me.html" class='footer__nav__link') Обо мне
            li.footer__nav__item
                a(href="blog.html" class='footer__nav__link') Блог
            li.footer__nav__item
                a(href="index.html" class='footer__nav__link') Авторизация
        ul.footer__social
            li.footer__social__item
                a(href='#' class='footer__social__link footer__social__link_vk')
                    i(class='fa fa-vk' aria-hidden='true')
            li.footer__social__item
                a(href='#' class='footer__social__link footer__social__link_git')
                    i(class='fa fa-github-alt' aria-hidden='true')
            li.footer__social__item
                a(href='#' class='footer__social__link footer__social__link_linkedin')
                    i(class='fa fa-linkedin' aria-hidden='true')
    .footer__about_wrapper.clearfix
        p.footer__about.
            Я веб-разработчик из Ярославля, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        p.copyright.
            © Андрей Шемяков | создано с любовью в LoftSchool | 2017

