footer.footer
    .footer__top
        .navigation
            a(href="portfolio.html").navigation__link="Мои работы"
            a(href="about.html").navigation__link="Обо мне"
            a(href="blog.html").navigation__link="Блог"
            a(href="index.html").navigation__link="Авторизация"
        include ../components/social
    .footer__bottom
        p.copyright.copyright__me="Я веб-разработчик , и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. "
        p.copyright.copyright__text="© Андрей Шемяков | создано с любовью в LoftSchool | 2017"
