header.page_header.clearfix
    //.page_header__container.clearfix
    .page_header__container
        ul.social
            include ../components/header_socials
        //include ../components/menu
    .about_developer
        .about_developer__img-wrapper
            img.about_developer__avatar(src='/assets/img/avatar.jpg' alt='Андрей Шемяков')
        h1.about_developer__name Андрей Шемяков
        p.about_developer__info Личный сайт веб разработчика
    .page_header__triangle
        a(href='#' class='about_developer__link about_developer__link_arrow')
            i(class='fa fa-chevron-down' aria-hidden='true')
        svg.triangle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
            polygon.triangle-left(points='0,0   0,86   500.8,86   500.8,84.5')
            polygon(points='1000,0   1000,86   500,86   500,84.5')
    .portfolio_img

