extends ../layouts/layout

block content
    include ../partials/header
    .triangle
        svg(version='1.1', width='100%', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').triangle__left
            polygon(points='0,0 0,130 100,100')
        svg(version='1.1', width='100%',  xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').triangle__right
            polygon(points='100,100 0,50 50,0')

    .blog
        aside.blog__menu
            ul.blog__list
                -for (var i = 1; i <= items.length; i++) {
                li.blog__list__item.blog__list
                    a(href="#item_" + i).blog__list__link=items[i-1].title
                -}
            span.blog__label
                svg.label__mouse
                    use(xlink:href='assets/img/sprite.svg#link').label__svg

        section.articles
            -for (var i = 1; i <= items.length; i++) {
            article(id="item_" + i).articles__item.wow.bounce
                h4.articles__title=items[i-1].title
                time.articles__time=items[i-1].date
                .articles__content
                    p=items[i-1].body
            -}
    include ../partials/footer
    include ../components/navigation


