extends ../layouts/layout

block content
    .parallax
        .parallax__layer
            img(src="assets/img/bg/parallax/layer5.png" alt="Горы Веб разработки").parallax__image
        .parallax__layer
            img(src="assets/img/bg/parallax/layer8.png" alt="Горы Веб разработки").parallax__image
        .parallax__layer
            img(src="assets/img/bg/parallax/layer7.png" alt="Горы Веб разработки" ).parallax__image
        .parallax__layer
            img(src="assets/img/bg/parallax/cloud65.png" alt="Горы Веб разработки" ).parallax__image
        .parallax__layer
            img(src="assets/img/bg/parallax/layer6.png" alt="Горы Веб разработки" ).parallax__image
        .parallax__layer
            img(src="assets/img/bg/parallax/layer4.png" alt="Горы Веб разработки").parallax__image
        .parallax__layer
            img(src="assets/img/bg/parallax/sky3.png" alt="Горы Веб разработки").parallax__image
        .parallax__layer
            img(src="assets/img/bg/parallax/layer2.png" alt="Горы Веб разработки").parallax__image
        .parallax__layer
            img(src="assets/img/bg/parallax/layer1.png" alt="Горы Веб разработки").parallax__image
        .parallax__layer
            img(src="assets/img/bg/parallax/cloud0.png" alt="Горы Веб разработки").parallax__image
    a(href="/").button.button__link="Авторизоваться"
    .flip-container
        .flipper
            .front
                include ../components/user
            .back
                include ../components/auth
    footer.copyright-auth
        span.copyright-auth__text Шемяков Андрей | создано с любовью в LoftSchool | 2017