extends ../layouts/layout

block content
    include ../partials/header
    .works
        .works__triangle
            svg(version='1.1', width='100%', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').works__triangle__left
                polygon(points='0,0 0,130 100,100')
            svg(version='1.1', width='100%',  xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').works__triangle__right
                polygon(points='100,100 0,50 50,0')

        .works__header
            svg.works__header__svg
                use(xlink:href='assets/img/sprite.svg#works_header').works__header__use
            h1.works__header__title="Мои работы"
        include ../components/portfolio_slider

    include ../components/reviews
    include ../components/navigation
