extends ../layouts/layout

block variables
    - var title = 'Обо мне'

block header
    include ../partials/header_about

block main
    include ../partials/main_about

block content
    include ../components/contacts

block footer
    include ../partials/footer