extends ../layouts/layout

block variables
    - var title = 'Мои работы'

block header
    include ../partials/header_about

block main
    include ../partials/articles

block footer
    include ../partials/footer